[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
xlsxwriter = "*"
selenium = "*"
openpyxl = "*"
pandas = "*"
dotenv-config = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
